* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "Trirong", serif; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.mt-45 {
  margin-top: 4.5rem; }

.mt-65 {
  margin-top: 6.5rem; }

.mt-30 {
  margin-top: 3rem; }

.mt-20 {
  margin-top: 2rem; }

.mb-45 {
  margin-bottom: 4.5rem; }

.mb-30 {
  margin-bottom: 3rem; }

.mb-20 {
  margin-bottom: 2rem; }

.mb-10 {
  margin-bottom: 1rem; }

a:link, a:visited, a:focus {
  text-decoration: none; }

span {
  display: inline-block; }

ul, li {
  list-style: none;
  display: inline-block; }

.serch-input-inputvalue {
  background-color: #e9e9e9;
  border-radius: 1rem;
  color: #787878;
  padding: 1rem .5rem;
  width: 20rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-right: .5rem;
  border: 0.2rem solid #e9e9e9; }

.serch-btn-btnvalue {
  background-color: #0099ff;
  border-radius: 1rem;
  color: #fff;
  padding: 1rem .3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.4rem;
  border: 0.1rem solid #0099ff; }
  .serch-btn-btnvalue:hover {
    color: #0099ff;
    background-color: #fff;
    border: 0.1rem solid #0099ff; }

.btn-text {
  border-radius: .5rem; }
  .btn-text, .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: #0099ff;
    text-decoration: none;
    padding: 3px;
    transition: all .2s;
    display: inline-block; }
  .btn-text:hover {
    transform: translateY(-2px);
    background-color: #0099ff;
    color: #fff;
    padding: 3px 7px; }
    .btn-text:hover span {
      transform: translateX(4px); }

.btn-span {
  display: inline-block;
  transition: all .4s; }

.section-main {
  background-color: #f1f1f1;
  border-top: 0.6rem solid #e9e9e9;
  padding: 1.5rem 2rem 0;
  border-bottom: 1.2rem solid #e9e9e9; }
  .section-main-info-heading {
    font-size: 3.6rem;
    margin-top: 15.5rem; }
  .section-main-info-para {
    font-size: 1.4rem; }

/* .section-main-info{
    &-heading{
        font-size: 3.6rem;
        margin-top: 15.5rem;
    }
    &-para{
        font-size: 1.4rem;
    }
} */
.mainImg-source {
  text-align: right;
  height: 55rem;
  width: 100%;
  display: inline-block;
  object-fit: cover; }

.cycling-section-img-main {
  height: 44rem;
  width: 55rem; }

.cycling-section-info-img {
  width: 9rem;
  height: 9rem;
  display: inline-block;
  object-fit: cover;
  transition: all .2s;
  outline-offset: 1.2rem;
  border-radius: .5rem; }
  .cycling-section-info-img-1:hover {
    outline: 0.3rem solid #0099ff;
    transform: scale(1.05); }

.cycling-section-info-heading {
  font-size: 1.6rem;
  color: #0099ff; }

.cycling-section-info-para {
  font-size: 1.4rem; }

.strip-box {
  background-color: #f1f1f1;
  height: 14rem;
  padding: 2rem 2rem;
  margin: 4rem;
  border-left: 1.5rem solid transparent;
  position: relative; }
  .strip-box:hover {
    border-left: 1.5rem solid #0099ff;
    transition: all 1s ease-in-out; }
  .strip-box-heading {
    font-size: 3.6rem;
    padding: -4rem 2rem; }
  .strip-box-subhead {
    font-size: 1.8rem; }

.strip-btn {
  margin-left: 15rem;
  padding: 1.5rem 2rem;
  font-size: 2.6rem; }

.footer {
  padding: 0 2rem; }
  .footer-heading {
    color: #fff;
    text-transform: uppercase; }
  .footer-para {
    color: #787878;
    font-size: 1.2rem; }
  .footer-span {
    color: #fff;
    font-size: 2rem; }

.footerImg {
  width: 21.5rem;
  height: 9rem; }

.footerDiv-link {
  display: inline-block;
  font-size: 1.6rem;
  color: #0099ff;
  width: 100%;
  padding: .3rem 0 .3rem;
  border-bottom: 1px solid #787878; }

.post {
  color: #787878; }
  .post-heading {
    font-size: 1.6rem; }
    .post-heading-p1 {
      font-size: 1.2rem;
      padding-bottom: 2.5rem; }
    .post-heading-p2 {
      font-size: 1.4rem;
      padding-bottom: 1.5rem; }

.contactUs span {
  display: inline-block;
  margin-bottom: 2rem;
  width: 100%; }

.contactUs ::placeholder {
  color: #e9e9e9; }

.contactUs input[type="text"], .contactUs textarea {
  background-color: #787878; }

.contactUs-boxHight {
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;
  width: 100%; }

.contactUs-msg {
  height: 16rem; }

.bottom {
  color: #222222;
  height: 6rem;
  background-color: #787878; }

.container {
  width: 100rem;
  margin: 0 auto;
  background-color: #787878; }

.container-fluid {
  width: 100%;
  margin: 0 auto; }

.row, .row::after, .row::before {
  display: table;
  clear: both;
  width: 100%; }

div[class^='col'] {
  float: left;
  padding: 0 15px; }

.col12 {
  width: 100%; }

.col7 {
  width: calc(100% * 7/12); }

.col6 {
  width: 50%; }

.col5 {
  width: calc(100% * 5/12); }

.col4 {
  width: calc(100% * 4/12); }

.col3 {
  width: 25%; }

.header {
  background-color: #2e2e2e;
  /*  padding: 4rem 0 4.5rem; */
  padding: 2rem 0;
  /*  &,
    &-list{
        background-color: $color-primary;
        


        &-item{
            margin-right: 1rem;

            & a{
                font-size: 1.6rem;
                color: $color-gray-dark;
                font-weight: 70rem;
                text-transform: capitalize;
                padding: 1rem 2rem;
                display: inline-block;
            }
        }

    }
    & span{
        font-size: 2.5rem;
        font-weight: 1000;
        color: $color-gray-dark;
    }
       */ }

.header-list {
  position: relative;
  margin: 1em;
  overflow: hidden; }
  .header-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px; }
  .header-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .5rem 0;
    text-align: center;
    border-left: 1px solid #787878;
    background-color: #2e2e2e;
    color: #787878; }
  .header-list-item a {
    font-size: 1.2rem;
    color: #787878;
    font-weight: 70rem;
    text-transform: capitalize;
    display: inline-block; }

/* .header-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
}
.header-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .5rem 0;
    padding: 0 1rem;
    text-align: center;
    border-left: 1px solid  $color-gray-dark;
    background-color:  $color-primary;
    color:$color-gray-dark ;
    
}
.header-list-item{
   
    & a{
        font-size: 1.2rem;
        color: $color-gray-dark;
        font-weight: 70rem;
        text-transform: capitalize;
        display: inline-block;
    }
} */
.header-icon, .header-icon-item {
  font-size: 2.5rem;
  font-weight: 100rem;
  margin-left: 1rem; }
  .header-icon i, .header-icon-item i {
    color: #fff;
    background-color: #787878;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    padding: 1rem;
    transition: all .3s ease-in-out; }
    .header-icon i:hover, .header-icon-item i:hover {
      background-color: #db4a39; }

.navbar-list {
  border-bottom: 0.6rem solid #e9e9e9; }
  .navbar-list, .navbar-list-item {
    margin: 1rem; }
    .navbar-list a, .navbar-list-item a {
      color: #000;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 400;
      padding: 1rem;
      position: relative; }
      .navbar-list a:hover, .navbar-list-item a:hover {
        color: #787878; }
      .navbar-list a::after, .navbar-list-item a::after {
        content: '';
        width: 0%;
        height: .6rem;
        background-color: #e9e9e9;
        position: absolute;
        bottom: -1rem;
        left: 0;
        transform: translate(0, -40%);
        transition: all .4s ease-in-out; }
      .navbar-list a:hover::after, .navbar-list-item a:hover::after {
        background-color: #0099ff;
        width: 100%; }

.section-navbar {
  padding: 4rem 0 4.5rem; }

.section-main-row {
  background-color: #e9e9e9; }

footer {
  background-color: #2e2e2e; }
