.header{
    background-color: $color-primary;
   /*  padding: 4rem 0 4.5rem; */
   padding: 2rem 0;

   /*  &,
    &-list{
        background-color: $color-primary;
        


        &-item{
            margin-right: 1rem;

            & a{
                font-size: 1.6rem;
                color: $color-gray-dark;
                font-weight: 70rem;
                text-transform: capitalize;
                padding: 1rem 2rem;
                display: inline-block;
            }
        }

    }
    & span{
        font-size: 2.5rem;
        font-weight: 1000;
        color: $color-gray-dark;
    }
       */
}

.header-list {
    position: relative;
    margin: 1em;
    overflow: hidden;
    & ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -1px;  
    }
    & li{
        flex-grow: 1;
        flex-basis: auto;
        margin: .5rem 0;
        //padding: 0 1rem;
        text-align: center;
        border-left: 1px solid  $color-gray-dark;
        background-color:  $color-primary;
        color:$color-gray-dark ;
    }
    &-item{
        & a{
            font-size: 1.2rem;
            color: $color-gray-dark;
            font-weight: 70rem;
            text-transform: capitalize;
            display: inline-block;
        }
    }
}
/* .header-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
}
.header-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .5rem 0;
    padding: 0 1rem;
    text-align: center;
    border-left: 1px solid  $color-gray-dark;
    background-color:  $color-primary;
    color:$color-gray-dark ;
    
}
.header-list-item{
   
    & a{
        font-size: 1.2rem;
        color: $color-gray-dark;
        font-weight: 70rem;
        text-transform: capitalize;
        display: inline-block;
    }
} */

.header-icon{
    &,
    &-item{
        font-size: 2.5rem;
        font-weight: 100rem;
        margin-left :1rem;

        & i{
            color: $color-white;
            background-color: $color-gray-dark;
            height: 4.5rem;
            width: 4.5rem;
            border-radius: 50%;
            padding: 1rem;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: $color-red;
            }

        }
    }
    
}
