.serch{
   
    &-input{
        &-inputvalue{
            background-color:$color-gray-light;
            border-radius: 1rem;
            color: $color-gray-dark;
            padding: 1rem .5rem ;
            width: 20rem;
            font-size: 1.2rem;
            text-transform: capitalize;
            margin-right: .5rem;
            border: .2rem solid $color-gray-light;  
        }
    }
    &-btn{
        &-btnvalue{
            background-color: $color-tertiary;
            border-radius: 1rem;
            color: $color-white;
            padding: 1rem .3rem;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 1.4rem; 
            border: .1rem solid $color-tertiary;

            &:hover{
                color: $color-tertiary;
                background-color: $color-white;
                border: .1rem solid $color-tertiary;
            } 
        }
    }
}

.btn-text{
    border-radius: .5rem;
    &,
    &:link,
    &:visited{
        font-size: 1.6rem;
        color: $color-tertiary;
        text-decoration: none;
        padding: 3px;
        transition: all .2s;
        //border-bottom: 1px solid $color-primary;
        display: inline-block;
    }
    &:hover{
        transform: translateY(-2px);
        background-color: $color-tertiary;
        color: $color-white;
        padding: 3px 7px;
       // box-shadow: 0 1rem 2rem rgba($color-dark, 0.15);
        span{
            transform: translateX(4px);
        }
    }
    
}
.btn-span{
    display: inline-block;
    transition: all .4s;
}