.section-main{
    background-color: $color-secondary ;
    border-top: .6rem solid $color-gray-light;
    padding: 1.5rem 2rem 0;
    border-bottom: 1.2rem solid $color-gray-light;
   
    &-info{
        &-heading{
            font-size: 3.6rem;
            margin-top: 15.5rem;
        }
        &-para{
            font-size: 1.4rem;
        }
    }
   
    
}

/* .section-main-info{
    &-heading{
        font-size: 3.6rem;
        margin-top: 15.5rem;
    }
    &-para{
        font-size: 1.4rem;
    }
} */
.mainImg{
    &-source{
        text-align:right;
        height: 55rem;
        width: 100%;
        display: inline-block;
        object-fit: cover;
    }
}